.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.indigo {
    color: indigo;
}

.purple {
    color: purple;
}

h1 {
    text-align: center;
}

.pic {
    text-align: center;
}

.img {
    margin-left: auto;
    width: cover;
    height: 400px;
}

.question {
    text-align: center;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

.country {
    display: inline-block;
}

.countries {
    text-align: center;
}

.country li {
    list-style: none;
}
.country li:hover {
    cursor: pointer;
}

.color {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color .yellow {
    text-align: center;
    background-color: black;
}

.answer {
    text-align: center;
    color: brown;
    font-size: 48px;
}